{% extends 'base.html' %}

{% block content %}

<div class="max-w-4xl mx-auto">

    <div class="flex justify-between items-center mb-6">
        <h1 class="text-3xl font-bold">Clientes</h1>

        <a href="/clientes/nuevo/" 
   class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg shadow">
   + Nuevo Cliente
</a>
    </div>

    <div class="grid gap-4">

        {% for cliente in clientes %}
            <div class="bg-white p-5 rounded-xl shadow hover:shadow-md transition">

                <div class="flex justify-between items-center">
                    <div>
                        <p class="text-lg font-semibold">{{ cliente.nombre }}</p>
                        <p class="text-sm text-gray-500">{{ cliente.email }}</p>
                    </div>

                    <div class="flex gap-3">
                        <a href="/clientes/{{ cliente.id }}/editar/" 
                           class="text-blue-500 hover:underline">
                            Editar
                        </a>

                        <a href="/clientes/{{ cliente.id }}/eliminar/" 
                           class="text-red-500 hover:underline">
                            Eliminar
                        </a>
                    </div>
                </div>

            </div>
        {% empty %}
            <p class="text-gray-500">No tienes clientes aún</p>
        {% endfor %}

    </div>

</div>

{% endblock %}